/Builds
/VolcanicRush/Library
/VolcanicRush/.idea
/VolcanicRush/Logs
/VolcanicRush/obj
/VolcanicRush/Temp
/VolcanicRush/UserSettings
/VolcanicRush/Assembly-CSharp.csproj
/VolcanicRush/Assembly-CSharp-Editor.csproj
/VolcanicRush/VolcanicRush.sln
/VolcanicRush/.vsconfig
/VolcanicRush/.vs
