[submodule "SpaceConqueror/Assets/NnUtils"]
	path = SpaceConqueror/Assets/NnUtils
	url = https://www.github.com/nnra6864/NnUtils.git
	branch = SpaceConqueror
[submodule "VolcanicRush/Assets/NnUtils"]
	path = VolcanicRush/Assets/NnUtils
	url = https://www.github.com/nnra6864/NnUtils.git
